# Default ignored files
/shelf/
/.idea/*
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.class
*.xml

Lexer.java
Parser.java
/java-cup-11b.jar
/java-cup-11b-runtime.jar
/SourceToSourceTranslator/jflex.bat
/SourceToSourceTranslator/IRToJava/sym.java
/SourceToSourceTranslator/SourceToIR/sym.java
