# Default ignored files
/shelf/
/.idea/*
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.class
*.xml

Lexer.java
Parser.java

/SourceToSourceTranslator/java-cup-11b.jar
/SourceToSourceTranslator/java-cup-11b-runtime.jar
/SourceToSourceTranslator/jflex.bat
/SourceToSourceTranslator/IRToJava/sym.java
/SourceToSourceTranslator/SourceToIR/sym.java
/MiniJavaSemanticAnalyzer/javacc5.jar
/MiniJavaSemanticAnalyzer/jtb132di.jar
/MiniJavaSemanticAnalyzer/syntaxtree/*
/MiniJavaSemanticAnalyzer/visitor/*

/MiniJavaSemanticAnalyzer/JavaCharStream.java
/MiniJavaSemanticAnalyzer/minijava-jtb.jj
/MiniJavaSemanticAnalyzer/MiniJavaParser.java
/MiniJavaSemanticAnalyzer/MiniJavaParserConstants.java
/MiniJavaSemanticAnalyzer/MiniJavaParserTokenManager.java
/MiniJavaSemanticAnalyzer/ParseException.java
/MiniJavaSemanticAnalyzer/Token.java
/MiniJavaSemanticAnalyzer/TokenMgrError.java
